@import "@style/fumbbl.less";

.swatch(@name, @col) {
    background: @col;
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
    text-align: center;
    color: black;
    display: grid;
    grid-template-rows: auto 1fr auto;
    place-items: center;
    border: solid 2px black;

    &::before {
        display: block;
        padding: 0.5rem;
        content: @name;
        place-self: center;
    }

    &::after {
        display: block;
        padding: 0.5rem;
        content: "@{col}";
        place-self: center;
    }

}

.primarybg {
    .swatch("Primary Bg", @PrimaryBg);
}

.secondarybg {
    .swatch("Secondary Bg", @SecondaryBg);
}

.tertiarybg {
    .swatch("Tertiary Bg", @TertiaryBg);
}

.swatches {
    width: 40rem;
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(3, 10rem);
    margin: 0 auto;
}

@forest-r: red(@Forest);
@forest-g: green(@Forest);
@forest-b: blue(@Forest);
@forest-string: "rgb(@{forest-r}, @{forest-g}, @{forest-b})";

.forest {
    background: @Forest;
    color: white;
    padding: 2rem;

    &::after {
        padding-left: 1rem;
        content: @forest-string;
    }

    &::before {
        content: "Forest";
    }
}
