@import url("@style/fumbbl");

.panel {
  width: 100%;
}
.panel dl dt {
  font-weight: bold;
  margin-top: 1rem;
}
.panel dl dt:first-child {
  margin-top: 0.5rem;
}
.panel dl dd {
  margin-left: 1rem;
  line-height: 2.0;
}
.col {
  width: 100%;
}
span {
  &.wide {
    display: inline-block;
    margin: 0 1rem;
  }
}
