@import url("@style/fumbbl");

.modal-tier-config {
  :deep(.modalbody) {
    padding: 0.5rem 1rem;
  }

  .settings {
    td {
      padding: 0.25rem 0;
    }

    input {
      width: 100%;
      line-height: 2.5;
      padding: 0 0.5rem;
    }
  }
}
