@import url("@style/fumbbl");

.panelwrapper {
  display: grid;
  place-items: start center;
  grid-template-columns: auto 1fr;
  position: relative;

  .statpanel {
    display: grid;
    grid-template-columns: 45px 1fr repeat(5, auto);
    grid-column-gap: 1rem;

    text-align: center;
    background: @OldLace;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    width: 100%;

    .teamstatrow {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: e("1 / -1");

      &.panelheader {
        font-size: 1rem;
        background: @Forest;
        border-radius: 0;
        padding: 0.25rem;
        &:first-child {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
        div {
          color: white;
          font-weight: bold;
          padding: 2px;

          &.small {
            font-size: 80%;
          }
        }

        .roster {
          grid-column: e("2 / 3");
        }
        .record {
          grid-column: e("3 / 4");
        }
        .tds {
          grid-column: e("4 / 5");
        }
        .cas {
          grid-column: e("5 / 7");
        }
        .tv {
          grid-column: e("7 / 8");
        }
      }

      &.panelcontent {
        border-top: solid 1px @Forest;
        padding: 2px;
        line-height: 32px;

        &:first-child {
          border: 0;
        }
      }

      .roster {
        text-align: left;
      }
    }
  }
}
