@import url('@style/fumbbl');

.panelwrapper {
    display: grid;
    place-items: center;
    position: relative;
    
    .backbutton {
        position: absolute;
        top: 0;
        left: 0;
    }
}